# グローバル無視
.DS_Store
.idea/
.vscode/
.env
/build/
/target/

# Codex（念のため、保険。間違って、app/に存在してしまったときのため）
.codex/
auth.json

# Flutter固有
frontend/android/key.properties
frontend/ios/Runner/GeneratedPluginRegistrant.*

# Foundry固有
contracts/out/
contracts/cache/

# ローカル設定
*.local
*.log
